include LICENSE
recursive-include src/antpack/cpp_src *
recursive-include src/antpack/vj_tools/consensus_data *
recursive-include src/antpack/numbering_tools/consensus_data *
recursive-include src/antpack/scoring_tools/model_data *
recursive-include tests/test_data *
