include LICENSE
recursive-include antpack/ext *
recursive-include antpack/vj_tools/consensus_data *
recursive-include antpack/numbering_tools/consensus_data *
recursive-include antpack/scoring_tools/model_data *
recursive-include tests/test_data *
